* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  margin: 0;
  color: white;
  background-color: #1996da;
}

.container {
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-full {
  width: 100%;
}

.col-third {
  width: calc(100%/3);
}

.align {
  align-items: center;
}

img {
  height: 10rem;
  width: 10rem;
}

h1 {
  font-size: 200%;
  margin-top: 4rem;
}

.center {
  text-align: center;
  justify-content: center;
}

.pad2 {
  padding: 2rem;
}

.padhalf {
  padding: 2.5rem;
}

.doublespace {
  line-height: 2;
}

.margin {
  margin-right: 5rem;
  margin-left: 5rem;
}

.resize {
  height: 10rem;
  width: 10rem;
}

.bg {
  background-color: white;
  border-radius: 50%;
}

section {
  height: 17rem;
  width: 17rem;
  margin-left: -4rem;
  margin-right: -4rem;
  margin-top: 3rem;
}
