body {
  font-family: Barlow, sans-serif;
}

h1 {
  font-size: 300%;
}

h2 {
  position: relative;
  bottom: 1rem;
}

.container {
  margin: auto;
  max-width: auto;
}

.row {
  display: flex;
}

.col-full {
  width: 100%;
}

.col-fourth {
  width: 25%;
}

.text-align-center {
  text-align: center;
}

.resize-icon {
  height: auto;
  width: 25%;
}

.resize-screen {
  height: auto;
  width: 85%;
}

.gray-background {
  background-color: #f7f8fa;
}

.margin-bottom {
  margin-bottom: 2rem;
}
