body {
  font-family: Barlow, sans-serif;
}

.container {
  margin: auto;
  max-width: 100%;
}

.row {
  display: flex;
}

.col-full {
  width: 100%;
}

.col-fourth {
  width: 25%;
}

.text-align-center {
  text-align: center;
}
