.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
}

#bulbasaur {
  /* your code here */
  position: relative;
  top: 1.5rem;
}

#charmander {
  /* your code here */
  position: relative;
  top: 2.5rem;
  left: 0.5rem;
}

#squirtle {
  /* your code here */
  position: relative;
  left: 0.5rem;
  top: 5rem;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 10rem;
  left: 0.5rem;
}

#jigglypuff {
  /* your code here */
  position: relative;
  left: 0.5rem;
  top: 18rem;
}
