* {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.border-radius-round {
  border-radius: 0.5rem;
}

.text-white {
  color: white;
}

.background-white {
  background-color: white;
}

.background-black {
  background-color: rgb(0 0 0 / 54.2%);
}

#open-modal {
  background-color: #4a4ae9;
  height: 2.5rem;
  width: 11rem;
  font-size: larger;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  letter-spacing: 0.02rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#modalcontainer {
  height: 93.2vh;
  width: 100vw;
}

#modalbox {
  height: 150px;
  width: 300px;
}
