* {
  box-sizing: border-box;
}

button {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  top: inherit;
  bottom: inherit;
  left: inherit;
  right: inherit;
  border: transparent;
}

.container {
  margin: auto;
  max-width: 800px;
  height: 600px;
}

.row {
  display: flex;
}

.col-full {
  width: 100;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.transform-translate-y {
  transform: translateY(75%);
}

.background-light {
  background-color: #fef9f1;
}

.background-dark {
  background-color: #111;
}

.lightswitch-on {
  background-color: #faea84af;
  box-shadow: 0 0 20px #ffdd00cd;
}

.lightswitch-off {
  background-color: #252525;
  border: solid 2px black;
  box-shadow: 0 -15px 1px #0d0d0d;
}
