* {
  box-sizing: border-box;
  font-family: Prompt, sans-serif;
}

body {
  margin: 0;
  background-color: transparent;
}

h1 {
  margin-right: 0.5rem;
}

span {
  margin: 0;
  padding: 0;
  margin-left: -0.5rem;
}

.container {
  margin: auto;
  max-width: 1000px;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
  top: 45vh;
}

.underline { /* add this class on current character to type */
  text-decoration: underline;
  text-underline-position: under;
}

.green {
  color: #27cf28;
}

.red {
  color: red;
}
